@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/circular-std/CircularStd-Book.woff2') format('woff2'),
         url('../fonts/circular-std/CircularStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    /* cores */
    --cor-cinza-claro: #D9D9D9;
    --cor-cinza: #999D9E;
    --cor-cinza-escuro: #2D2B2F;
    --cor--branco: #FFFFFF;
    --cor-vinho: #8D4D4D;
    --cor-verde-claro: #C1FEC5;
    --cor-verde: #67C3AC;

    /* fonte */
    --fonte-circular-std: 'Circular Std';
}

body{
    overflow-x: hidden;
}

#container-menu{
    position: fixed;
    transition: transform 0.5s ease-in-out;

    right: -30vw;
    background-color: var(--cor-cinza-escuro);

    z-index: 9;
    height: 100vh;
    width: 30vw;
    transform: translateY(0);
}

#container-menu.active{
    display: block;
    transform: translateX(-30vw);
}

#container-hamburguer.active #l1{
    transform: translateX(15%) rotate(45deg) translateY(calc(0.24vh + 0.24vw));
}

#container-hamburguer.active #l2{
    transform: translateX(15%) rotate(-45deg) translateY(calc((0.24vh + 0.24vw) * -1));
}

#container-menu h3{
    font-family: var(--fonte-circular-std);
    color: var(--cor-cinza-claro);
    font-weight: 400;
    font-size: calc(1.2vw + 1.2vh);
    margin-top: 20%;
    margin-left: 10%;
}

#container-menu hr{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

#container-menu ul{
    width: 80%;
    margin-left: 10%;
    height: 60%;
}

#container-menu ul li button{
    margin-top: 25%;
    background-color: transparent;
    font-family: var(--fonte-circular-std);
    color: var(--cor-cinza-claro);
    font-weight: 400;
    font-size: calc(1.5vw + 1.5vh);
    transition: color 0.3s, color 0.3s;
}

#container-menu ul li button:hover{
    color: var(--cor--branco);
    cursor: pointer;
}

#container-menu ul li button{
    border: none;
}

header{
    position: fixed;
    z-index: 10;
    top: 3%;
    right: 2%;
}

#hero{
    background-color: var(--cor-cinza);
    height: 100vh;
}

#container-hamburguer{
    height: calc(3.5vw + 3.5vh);
    width: calc(3.5vw + 3.5vh);
    background-color: var(--cor-cinza-escuro);
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
    transition: background-color 0.3s;
}

#container-hamburguer.active{
    background-color: var(--cor-vinho);
}

.linha{
    height: 2%;
    width: 30%;
    background-color: var(--cor--branco);
}

#l1, #l2{
    transition: transform 0.5s ease-in-out;
}

#texto-scroll{
    position: absolute;
    top: 68%;
    overflow: hidden;
    display: inline-block; 
    animation: scroll 10s linear infinite;
    z-index: 2;
}

[alt="robo"]{
    position: absolute;
    height: 97vh;
    top: calc(100% - 97vh + calc(0.6vh + 0.6vw));
    right: calc((100% - 40vw) / 2);
    z-index: 1;
}

[alt="seta"]{
    position: absolute;
    height: calc(0.8vw + 0.8vh);
    top: 30%;
    right: 31%;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0); 
    }
    
    100% {
        transform: translate(-34.29%, 0); 
    }
}

#hero h2{
    font-family: var(--fonte-circular-std);
    color: var(--cor--branco);
    font-weight: 400;
    font-size: calc(1.3vw + 1.3vh);
    position: absolute;
    top: 45%;
    right: 13%;
}

#hero h2 span{
    color: var(--cor-verde-claro);
}

#texto-scroll h1{
    font-family: var(--fonte-circular-std);
    font-weight: 400;
    font-size: calc(8vw + 8vh);
    color: var(--cor--branco);
    white-space: nowrap;
}

#frase{
    background-color: var(--cor-verde);
    position: absolute;
    height: 40vh;
    width: 40vw;
    top: 5%;
    left: 6%;
}

#frase ul{
    display: flex;
    gap: 7px;
    margin-top: 5%;
    margin-left: 5%;
}
#frase ul img{
    width: calc(2.4vw + 2.4vh);
}

#hero #citacao{
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: 1;
    top: 0%;

    backdrop-filter: blur(3px);
}

#hero #citacao p{
    font-family: var(--fonte-circular-std);
    font-weight: 400;
    text-align: justify;
    font-size: calc(1.3vw + 1.3vh);
    color: var(--cor-verde-claro);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 69%;
    line-height: 1.5;
}

#descricao{
    display: flex;
    background-color: var(--cor-cinza-claro);
    align-items: center;
    height: 70vh;
    width: 100%;
    padding: 0 5vw;
    justify-content: space-around;
}


#descricao p{
    font-family: var(--fonte-circular-std);
    font-size: calc(1vw + 1vh);
    color: var(--cor-cinza);
    width: 60%;
    text-align: justify;
}

.textos{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

#principal{
    background-color: var(--cor-cinza-claro);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10vh 0;
}

#principal hr{
    width: 90%;
    margin: 0 auto;
    border: 0.2vh solid var(--cor-cinza);
}

#hobbies, #ja-fui, #vou-ir{
    height: 20vh;

    display: flex;
    align-items: center;

    padding-left: 5vw;

    transition: height 0.5s ease-in-out;
}

#hobbies.active, #ja-fui.active, #vou-ir.active{
    height: 40vh;
}

#hobbies h2, #ja-fui h2, #vou-ir h2{
    font-family: var(--fonte-circular-std);
    font-weight: 400;
    font-size: calc(1.5vw + 1.5vh);
    color: var(--cor-cinza-escuro);

    transition: all 0.3s;
}

footer{
    height: 60vh;
    background-color: var(--cor-cinza-escuro);
}

footer h1{
    font-family: var(--fonte-circular-std);
    font-weight: 400;
    font-size: calc(2.5vw + 2.5vh);
    color: var(--cor-cinza);

    padding-top: 10vh;
    padding-left: 5%
}

footer hr{
    width: 90%;
    margin: 0 auto;
    border: 0.2vh solid var(--cor-cinza);
}

#contatos{
    margin-top: 2%;
    margin-left: 5%;
    display: flex;   
    gap: 2%;
}

#contatos button{
    background-color: transparent;
    color: var(--cor-cinza);
    padding: calc(1vh + 1vw);
    border-radius: 100px;
    border: 2px solid var(--cor-cinza);
    font-family: var(--fonte-circular-std);
    font-size: calc(0.7vw + 0.7vh);
    transition: all 0.3s;
}

#contatos button:hover{
    background-color: transparent;
    color: var(--cor--branco);
    padding: calc(1vh + 1vw);
    border-radius: 100px;
    border: 2px solid var(--cor--branco);
    font-family: var(--fonte-circular-std);
    font-size: calc(0.7vw + 0.7vh);
}

#rodape{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 12%;
}
#rodape p{
    font-family: var(--fonte-circular-std);
    font-size: calc(0.7vw + 0.7vh);
}

#hobbies-conteudo{
    position: absolute;
    display: flex;
    top: 185%;
    gap: 7vw;
    left: 20%;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

#ja-fui-conteudo{
    position: absolute;
    display: flex;
    top: 205%;
    gap: 7vw;
    left: 20%;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

#vou-ir-conteudo{
    position: absolute;
    display: flex;
    top: 225%;
    gap: 7vw;
    left: 20%;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

#hobbies-conteudo div, #ja-fui-conteudo div, #vou-ir-conteudo div{
    background-color: var(--cor-vinho);
    height: 25vh;
    width: 20vw;
}

#hobbies-conteudo div h2, #ja-fui-conteudo div h2, #vou-ir-conteudo div h2{
    font-size: calc(1vw + 1vh);
    padding: calc(0.3vw + 0.3vh);
}

#kendo{
    background-image: url(/assets/img/kendo.png);
    background-size: cover;
    background-position: center;
}

#video-game{
    background-image: url(/assets/img/video-game.jpg);
    background-size: cover;
    background-position: center;
}

#violino{
    background-image: url(/assets/img/violino.png);
    background-size: cover;
    background-position: center;
}

#piaui{
    background-image: url(/assets/img/paui.jpg);
    background-size: cover;
    background-position: center;
}

#santos{
    background-image: url(/assets/img/santos.jpg);
    background-size: cover;
    background-position: center;
}

#hopi-hari{
    background-image: url(/assets/img/hopi-hari.jpg);
    background-size: cover;
    background-position: center;
}

#china{
    background-image: url(/assets/img/china.jpg);
    background-size: cover;
    background-position: center;
}

#grecia{
    background-image: url(/assets/img/grecia.jpg);
    background-size: cover;
    background-position: center;
}


#japao{
    background-image: url(/assets/img/japao.jpg);
    background-size: cover;
    background-position: center;
}
